body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #554e4e;
}

#grille {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 5px;
  justify-content: center;
  margin: 20px auto;
}

.btn{
  border-radius: 10%;
  background-color: rgb(111, 108, 108);
  border: 2px solid #333;
  font-size: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.case:hover {
  background-color: #ddd;
}

#message {
  font-size: 18px;
  margin: 15px;
}

#rest {
  border-radius: 90%;
  border: #545454;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: rgb(165, 237, 213);
}


